.tag-creator {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30vw;
  min-height: 25vh;
  position: relative;
  padding: 20px;
  border: 2px solid;
  border-radius: 5px;
  z-index: 1;
}

.cards-field {
  display: flex;
  flex-direction: column;
  min-height: 20vh;
}

.inActive::after {
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

.control {
  display: flex;
  justify-content: space-between;
}

.control__checkbox {
  z-index: 2;
}
